html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
}
strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
.optimize {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
}
#question {
  background-color: #e2e1dc;
  height: 100%;
  padding-top: 27px;
}
#question button {
  background-color: #252525;
  border: none;
  padding: 7px 30px;
  color: #ffffff;
  text-transform: none;
  font-size: 11px;
  font-family: 'Gotham-Medium', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
  width: 214px;
}
#question button:hover {
  background-color: #ae4e0e;
}
#question hr.small {
  border-color: #ffffff;
  margin: 20px auto!important;
}
#question p {
  font-family: 'Gotham-Medium', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #464646;
  text-transform: uppercase;
  padding-top: 20px;
}
.uploadifive-button {
  font-family: 'Gotham-Medium', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
}
.validation-advice {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  top: 24px;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot?15905336');
  src: url('../fonts/Gotham-Bold.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff?15905336') format('woff'), url('../fonts/Gotham-Bold.ttf?15905336') format('truetype'), url('../fonts/Gotham-Bold.svg?15905336#Gotham-Bold') format('svg');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot?15905336');
  src: url('../fonts/Gotham-Medium.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff?15905336') format('woff'), url('../fonts/Gotham-Medium.ttf?15905336') format('truetype'), url('../fonts/Gotham-Medium.svg?15905336#Gotham-Medium') format('svg');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot?15905336');
  src: url('../fonts/Gotham-Light.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.woff?15905336') format('woff'), url('../fonts/Gotham-Light.ttf?15905336') format('truetype'), url('../fonts/Gotham-Light.svg?15905336#Gotham-Light') format('svg');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?15905336');
  src: url('../fonts/Gotham-Book.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff?15905336') format('woff'), url('../fonts/Gotham-Book.ttf?15905336') format('truetype'), url('../fonts/Gotham-Book.svg?15905336#Gotham-Book') format('svg');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Thin.otf') format('opentype'), url('../fonts/Gotham-Thin.woff') format('woff'), url('../fonts/Gotham-Thin.ttf') format('truetype'), url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JacquesGilles';
  src: url('../fonts/JacquesGilles.eot?#iefix') format('embedded-opentype'), url('../fonts/JacquesGilles.woff') format('woff'), url('../fonts/JacquesGilles.ttf') format('truetype'), url('../fonts/JacquesGilles.svg#JacquesGilles') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bombshell-Pro';
  src: url('../fonts/Bombshell-Pro.eot?#iefix') format('embedded-opentype'), url('../fonts/Bombshell-Pro.woff') format('woff'), url('../fonts/Bombshell-Pro.ttf') format('truetype'), url('../fonts/Bombshell-Pro.svg#Bombshell-Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gotham-bold {
  font-family: 'Gotham-Bold', Verdana, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.gotham-medium {
  font-family: 'Gotham-Medium', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.gotham-light {
  font-family: 'Gotham-Light', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.gotham-book {
  font-family: 'Gotham-Book', Verdana, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.gotham-thin {
  font-family: 'Gotham-Thin', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.minion-pro-regular {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.minion-pro-medium {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.minion-pro-italic {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.minion-pro-medium-italic {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 500;
  font-style: italic;
}
.minion-pro-semibold {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.minion-pro-semibold-italic {
  font-family: "minion-pro", Verdana, sans-serif;
  font-weight: 600;
  font-style: italic;
}
.jacques-gilles {
  font-family: "JacquesGilles", Verdana, sans-serif;
  font-weight: 200;
  font-style: italic;
}
.jacques-gilles-regular {
  font-family: "JacquesGilles", Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.bombshell-pro {
  font-family: "Bombshell-Pro", Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.center-text {
  text-align: center;
}
.body-font {
  font-family: 'Gotham-Thin', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
}
body {
  font-family: 'Gotham-Thin', Verdana, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #252525;
  font-size: 17px;
  line-height: 18px;
  overflow-x: hidden;
}
body,
html {
  background: #fff;
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: #ae4e0e;
}
a:hover,
a:focus {
  color: #252525;
}
