<?xml version="1.0"?>
  <config>
     <modules>
        <Manic_Ajaxcart>
          <version>1.0.0</version>
        </Manic_Ajaxcart>
     </modules>
     <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Manic_Ajaxcart</module>
                 <frontName>ajaxcart</frontName>
              </args>
           </routeurfrontend>
       </routers>
    </frontend>
</config>